<div class="advanced-search-bar mr-5 mb-2 h-full flex flex-row-reverse items-center gap-5">
  <label for="">رقم الوارد</label>
  <input type="number"
    class="inline-block py-1 text-right text-sm text-gray-900 bg-gray-50 rounded-md  border border-gray-300"
    placeholder="رقم الوارد" maxlength="100" required>
  <label for="">تاريخ الوارد </label>
  <input type="date"
    class="inline-block py-1 text-right text-sm text-gray-900 bg-gray-50 rounded-md  border border-gray-300"
    placeholder="تاريخ الوارد" maxlength="100" required>
  <label for=""> التوجيه</label>
  <input type="search"
    class="inline-block py-1 text-right text-sm text-gray-900 bg-gray-50 rounded-md  border border-gray-300"
    placeholder="التوجيه " maxlength="100" required>
  <label for=""> المصدر</label>
  <input type="text"
    class="inline-block py-1 text-right text-sm text-gray-900 bg-gray-50 rounded-md  border border-gray-300"
    placeholder="المصدر " maxlength="100" required>
  <label for=""> رقم المعاملة</label>
  <input type="text"
    class="inline-block py-1 text-right text-sm text-gray-900 bg-gray-50 rounded-md  border border-gray-300"
    placeholder=" رقم المعاملة " maxlength="100" required>
  <label for=""> تاريخ المعاملة</label>
  <input type="date"
    class="inline-block py-1 text-right text-sm text-gray-900 bg-gray-50 rounded-md  border border-gray-300"
    placeholder=" تاريخ المعاملة " maxlength="100" required>
</div>