<div class="text-center rounded-3xl my-24  border-2 border-dashed border-gray-200">
  <h1>Test Stepper</h1>
  <ol
    class="inline-flex flex-row-reverse justify-center items-center  p-3 my-2 space-x-2 text-sm font-medium text-center text-gray-500   rounded-3xl  sm:p-4 sm:space-x-4">
    <li class="flex flex-row-reverse items-center " [ngClass]="currentStepIndex == step.id?'text-blue-600 ':''"
      *ngFor="let step of steps">
      <ng-container>
        <span
          class="flex items-center justify-center w-5 h-5 ml-2 text-xs border border-blue-600 rounded-full shrink-0 ">
          {{ step.id }}
        </span>
        <span>{{ step.label }}</span>
        <svg class="w-4 h-4 ml-2 sm:ml-4" [ngClass]="currentStepIndex == step.id?'text-blue-600 ':''" fill="none"
          stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5">
          </path>
        </svg>
      </ng-container>

    </li>
  </ol>
  <div class="text-center rounded-3xl my-2 mx-5 border-2 border-dashed border-gray-200" [ngSwitch]="currentStepIndex">
    <div>
      <div class="p-5" *ngSwitchCase="1">
        <app-payement-card></app-payement-card>
        <button (click)="nextStep()">Next</button>

      </div>

      <div class="p-5" *ngSwitchCase="2">
        <app-address-cart></app-address-cart>
        <button (click)="nextStep()">Next</button>
        <button (click)="prevStep()">Back</button>
      </div>
      <div *ngSwitchCase="3">
        <p>This is step 3</p>
        <button (click)="nextStep()">Next</button>
        <button (click)="prevStep()">Back</button>
      </div>
      <div *ngSwitchDefault>
        <p>default</p>
        <button>Back</button>
      </div>
    </div>
  </div>
</div>