<div class="grid grid-cols-3 gap-4 mb-4 items-center">
  <div class="flex items-center justify-center p-1 ">
    <div class="w-full p-6 border-2 border-gray-200 border-dashed rounded-3xl">
      <div class="flex flex-row-reverse ">
        <svg class="w-8 h-8 text-blue-500" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z">
          </path>
        </svg>
        <a [routerLink]="['/dashboard/users']">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">مستخدمين
          </h5>
        </a>
      </div>
      <div class="flex flex-row-reverse">
        <svg class="text-blue-500 h-5 w-5" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z">
          </path>
        </svg>
        <p class="mb-3 font-normal text-gray-700 ">{{currentDate|date}}</p>
      </div>
      <div class="flex -space-x-4 mt-11">
        <img class="w-10 h-10 border-2 border-white rounded-full bg-black"
          src="" alt="">
        <img class="w-10 h-10 border-2 border-white rounded-full bg-gray-200"
          src="" alt="">
        <img class="w-10 h-10 border-2 border-white rounded-full bg-black"
          src="" alt="">
        <a
          class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800">+{{users.length}}</a>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center p-1 ">
    <div class="w-full p-6 border-2 border-gray-200 border-dashed rounded-3xl">
      <div class="flex flex-row-reverse items-center gap-2">
        <svg class="text-violet-800 h-8 w-8" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z"></path>
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z"></path>
        </svg>
        <a>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">عمليات تسجيل الدخول
          </h5>
        </a>
      </div>
      <div class="flex flex-row-reverse">
        من قبل المستخدمين
      </div>
      <div class="flex flex-col">
        <div class="flex items-baseline text-gray-900">
          <span class=" font-semibold">عملية تسجيل دخول</span>
          <span class="text-5xl font-extrabold tracking-tight">{{users_logins.length}}</span>
        </div>
        <div class="flex justify-between items-center gap-2 text-green-600">
          <div class="flex gap-2 items-end">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941"></path>
            </svg>
            <p class="font-semibold"> +11%</p>
            <p class="text-gray-600">الاسبوع الماضي</p>
          </div>
          <button type="button"
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"><svg
              fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
            </svg></button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center p-1 ">
    <div class="w-full p-6 border-2 border-gray-200 border-dashed rounded-3xl">
      <div class="flex flex-row-reverse items-center gap-2">
        <svg class="text-green-400 w-8 h-8" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z">
          </path>
        </svg>
        <a>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">الارباح
          </h5>
        </a>
      </div>
      <div class="flex flex-row-reverse">
      اجمالي عدد الطلبات ({{orders.length}})
      </div>
      <div class="flex flex-col">
        <div class="flex items-baseline text-gray-900">
          <span class="text-3xl font-semibold">$</span>
          <span class="text-5xl font-extrabold tracking-tight">{{totalOrdersPrice}}</span>
        </div>
        <div class="flex justify-between items-center gap-2 text-red-600">
          <div class="flex gap-2 items-end">
            <svg class="h-5 w-5 " fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 6L9 12.75l4.286-4.286a11.948 11.948 0 014.306 6.43l.776 2.898m0 0l3.182-5.511m-3.182 5.51l-5.511-3.181">
              </path>
            </svg>
            <p class="font-semibold"> -2%</p>
            <p class="text-gray-600">الشهر الماضي</p>
          </div>
          <button type="button"
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"><svg
              fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
            </svg></button>
        </div>
      </div>
    </div>
  </div>
</div>