<section class="">
  <div class=" px-4 py-8 mx-auto lg:py-16 ">
    <h2 class="mb-4 text-xl font-bold text-gray-900 "> تحديث المعلومات</h2>
    <form [formGroup]="userForm" (ngSubmit)="onUserFormSubmit">
      <div class="grid gap-4 mb-4 sm:grid-cols-3 sm:gap-6 sm:mb-5">
        <div class="w-full ">
          <label for="perm" class="block mb-2 text-sm font-medium text-gray-900 :text-white">الصلاحيات
          </label>
          <label type="text" name="perm" id="perm"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-3xl focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 ">{{userForm.get('role').value?userForm.get('role').value:''}}</label>
        </div>
        <div class="w-full ">
        <app-input [control]="userForm.get('lastname')" type="text" label="* الاسم الاخير" maxlength="20" autofocus="true"
          required="true"></app-input>
        </div>
        <div class="w-full ">
          <app-input [control]="userForm.get('firstname')" type="text" label="* الاسم الاول" maxlength="20" autofocus="true"
            required="true"></app-input>
        </div>
        <div class="sm:col-span-3">
          <app-input [control]="userForm.get('email')" type="email" label="* البريد الالكتروني" maxlength="20" autofocus="true"
            required="true"></app-input>
        </div>
        <div class="w-full col-span-2">
          <app-input [control]="userForm.get('phonenumber')" type="tel" label="* رقم الجوال" maxlength="20" autofocus="true"
            required="true"></app-input>
        </div>
        <div class="col-span-1 w-full">
          <label for="countrycode" class="block mb-2 text-sm font-medium text-gray-900  ">المعرف
            الدولي</label>
          <!-- TODO: make sure that countrycode are loaded from the server -->
          <select formControlName="countrycode" name="countrycode" id="countrycode"
            class="border border-gray-300 rounded-3xl p-2 mx-1 w-1/2">
            <option [value]="20">20</option>
            <option [value]="10">10</option>
            <option value="30">30</option>
            <option [value]="40">40</option>
          </select>
        </div>
        <div class="w-full col-span-1">
          <label for="updatedAt" class="block mb-2 text-sm font-medium text-gray-900 ">تاريخ اخر تحديث
          </label>
          <label name="updatedAt" id="updatedAt"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-3xl focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 ">{{user.updatedAt?(user?.updatedAt|date:'medium'):''}}</label>
        </div>
        <div class="w-full col-span-2">
          <label for="createdAt" class="block mb-2 text-sm font-medium text-gray-900 :text-white">تاريخ
            الانشاء
          </label>
          <label name="createdAt" id="createdAt"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-3xl focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 ">{{user.createdAt?(user?.createdAt|date:'medium'):''}}</label>
        </div>
      </div>
      <div class="flex items-center space-x-4" [ngSwitch]="isSubmitted">
        <button *ngSwitchCase="true" type="submit"
          class="text-gray-400 bg-primary-700 border border-gray-400 hover:text-gray-800 hover:border-gray-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-3xl text-sm px-5 py-2.5 text-center ">
          حفظ
        </button>
        <button *ngSwitchCase="false"
          class="text-gray-400 bg-primary-700 border border-gray-400 hover:text-gray-800 hover:border-gray-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-3xl text-sm px-5 py-2.5 text-center ">
          تحديث المعلومات
        </button>
        <button *ngSwitchDefault
          class="text-gray-400 bg-primary-700 border border-gray-400 hover:text-gray-800 hover:border-gray-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-3xl text-sm px-5 py-2.5 text-center ">
          الافتراضي
        </button>
      </div>
    </form>
  </div>
</section>