<!-- info cards  -->
<app-info-cards></app-info-cards>
<!-- info cards  -->
<!-- data grid  -->
<section class="border-2 border-dashed border-gray-200 rounded-3xl w-full p-3 sm:p-5 ">
<app-orders-grid></app-orders-grid>
</section>
<!-- data grid  -->
<!-- summery content  -->
<div class="grid grid-cols-3 gap-4 mb-4">
  <!-- latest orders products -->
  <!-- <app-latest-products-card></app-latest-products-card> -->
  <!-- latest orders products -->
  <!-- latest users  -->
  <!-- <app-latest-users-card></app-latest-users-card> -->
  <!-- latest users  -->
  <div class="col-span-3 rounded-3xl bg-gray-50 ">
    <!-- footer  -->
  <app-footer></app-footer>
    <!-- footer  -->
  </div>
</div>
<!-- summery content  -->