<div class="bg-white shadow-md rounded-s m-5 p-4 pb-20">
  <div class="flex flex-row-reverse justify-between mb-8">
    <h3 class="font-semibold">محاضر اللجان</h3>
    <button type="button"
      class="text-white bg-gradient-to-bl from-green-500 to-green-800 hover:bg-gradient-to-r focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-md shadow-lg text-sm p-2.5 text-center inline-flex items-center mr-2 ">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z">
        </path>
      </svg>
      <span class="sr-only">Icon description</span>
    </button>
  </div>
  <div>
    <h4>بسم الله</h4>
    <h6>السلام عليكم ورحمة الله وبركاته</h6>
    <p class="text-gray-700 font-bold text-base">
      هذا مثال لنص محاضر لجان يمكن استبداله لورم ابيسم دولار سبميت ممكن اقصى سنوية مصير
      هذا مثال لنص يمكن استبداله لورم ابيسم دولار سبميت ممكن اقصى سنوية مصير
      هذا مثال لنص يمكن استبداله لورم ابيسم دولار سبميت ممكن اقصى سنوية مصير
    </p>
  </div>
</div>