<div class=" border-2 border-dashed rounded-3xl border-gray-300 w-full  min-h-full">
  <a class="flex flex-col items-center  rounded-3xl  min-h-full ">
    <img class="object-cover  rounded-t-lg  md:h-48 md:w-48 md:rounded-none md:rounded-l-lg"
      [src]="user.user_img?user.user_img:'https://res.cloudinary.com/dwi0qvtbe/image/upload/v1686396538/users/%D8%B9%D8%A7%D8%AF%D9%84_%D8%A7%D9%85%D8%A7%D9%85_bjvrmb.jpg'"
      [alt]="user.username">
    <div class="flex flex-col justify-between p-4 leading-normal text-left">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">
        {{user?
        user?.username:
        'Your user name'}}</h5>
      <p class=" font-semibold text-gray-700 ">البريد الالكتروني</p>
      <h3 class=" text-xl  tracking-tight ">{{user?user?.email: 'your.mail@example.com' }}</h3>
      <p class=" font-semibold text-gray-700 ">رقم الجوال</p>
      <h3 class=" text-xl  tracking-tight ">{{user? user?.phonenumber : "011-50567130" }}</h3>
      <p class=" font-semibold text-gray-700 ">الصلاحية</p>
      <h3 class=" text-xl  tracking-tight ">{{user ? user.role?.name: 'user' }}</h3>
    </div>
  </a>

</div>