<nav class="flex items-center justify-between py-2 mr-2 " aria-label="Table navigation">
  <span class="text-sm font-normal text-gray-500 ml-2">Page No: <span
      class="font-semibold text-gray-900 ">{{current}}</span>
    of total
    <span class="font-semibold text-gray-900 ">{{totalPages}} pages </span></span>
  <ul class="inline-flex items-center -space-x-px">
    <li>
      <button [disabled]="current <= 0" (click)="onPrevious()" type="button">
        <a
          class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">Previous</a>
      </button>
    </li>
  <ng-container *ngFor="let page of pages; index as i">
    <li>
      <a *ngIf="page !== -1; else more" [aria-current]="page === current? 'page': ''" (click)="onGoTo(page)"
        class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">{{page}}</a>
      <ng-template #more>
        <a
          class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">...</a>
      </ng-template>
    </li>
  </ng-container>
    <li>
      <button [disabled]="current === totalPages" (click)="onNext()" type="button"
        >
            <a 
              class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
      </button>
    </li>
  </ul>
</nav>