<nav class="flex flex-row-reverse mr-5" aria-label="Breadcrumb">
  <ol class="inline-flex items-center md:space-x-3">
    <li aria-current="page">
      <div class="flex items-center">
        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">{{childSubProgramName}}</span>
        <svg fill="none" color="gray" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5"></path>
        </svg>
      </div>
    </li>
    <li>
      <div class="flex items-center">

        <a class="mr-1 text-sm font-medium text-gray-700 hover:text-green-600 md:ml-2">{{supProgramName}}</a>

        <svg fill="none" color="gray" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5"></path>
        </svg>
      </div>
    </li>

    <li class="inline-flex items-center">
      <a class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-green-600 " [routerLink]="['/index']">
        {{mainProgramName}}
        <svg fill="none" color="gray" class="ml-1" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25">
          </path>
        </svg>
      </a>
    </li>

  </ol>
</nav>