<!-- Main modal -->
  <div class="w-1/2 h-1/2 absolute top-1/4 left-1/4 rounded-sm p-4 backdrop-blur-3xl ">
  <div class="flex flex-col w-full max-w-3xl ">
    <!-- Modal content -->
    <div class=" bg-white rounded-s shadow-lg ">
      <!-- Modal header -->
      <div class="modal-header">

        <ng-content select="[modal-header]"></ng-content>
      </div>
      <!-- Modal body -->
      <div class="modal-body">

        <ng-content select="[modal-body]"></ng-content>

      </div>
      <!-- Modal footer -->
      <div class="modal-footer">

        <ng-content select="[modal-footer]"></ng-content>

      </div>
    </div>
  </div>
