<!-- Main modal -->
  <div
    class="w-1/3 absolute top-16 left-1/4 rounded-md shadow-md border-2 border-green-500 px-5 py-5 backdrop-blur-xl ">
    <div class="flex flex-col w-full max-w-3xl ">
    <!-- Modal content -->
    
      <!-- Modal header -->
      <div class="modal-header">
        <ng-content select="[modal-header]"></ng-content>
      </div>
      <!-- Modal body -->
      <div class="modal-body">

        <ng-content select="[modal-body]"></ng-content>

      </div>
      <!-- Modal footer -->
      <div class="modal-footer">

        <ng-content select="[modal-footer]"></ng-content>

      </div>
    </div>
  </div>
