<header>
  <!-- Jumbotron -->
  <section class="bg-white shadow-md rounded-b-md mb-5">
    <div class="py-8 px-4 mx-auto max-w-screen-xl flex flex-row-reverse items-center justify-between lg:py-16">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl ">
        ادارة المهام</h1>
        <div class="flex flex-row space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
        <app-tasks-delete></app-tasks-delete>
        <app-tasks-create taskId=""></app-tasks-create>
      </div>
    </div>
  </section>
  <!-- Jumbotron -->
</header>

<!-- Data Grid Component -->

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-10">
  <app-data-grid [data]="tasks$" (deleteTaskEmitter)="onTaskDeleted($event)"></app-data-grid>
  <!-- PaginationComponent -->
  <app-pagination [current]="current" [total]="totalItems" [totalPages]="totalPages" (goTo)="onGoTo($event)" (next)="onNext($event)"
  (previous)="onPrevious($event)"></app-pagination>
  <!-- PaginationComponent -->
</div>
<!-- Data Grid Component -->

<!-- Confirmation Model -->

<!-- Confirmation Model -->

<!-- Main modal -->

<!-- Main modal -->

<!-- Toast Component -->

<!-- Toast Component -->