<div id="popup-modal" tabindex="-1" class="w-1/2 h-1/2 absolute top-1/4 left-1/4 rounded-lg p-4  backdrop-blur-3xl">
  <div class="relative w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow ">
      <div class="modal-header">
          <ng-content select="[modal-header]"></ng-content>
      </div>
      <div class="modal-body">
        <ng-content select="[modal-body]"></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select="[modal-footer]"></ng-content>
      </div>
    </div>
  </div>
</div>

