<div class="relative overflow-x-auto rounded-3xl p-4 border-2 border-dashed border-gray-200">
  <table class="w-full text-sm text-left text-gray-500 rounded-3xl border-2 border-dashed border-gray-200">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 rounded-3xl">
      <tr>
        <th scope="col" class="px-6 py-3 ">
          Product name
        </th>
        <th scope="col" class="px-6 py-3">
          Category
        </th>
        <th scope="col" class="px-6 py-3">
          Price
        </th>
        <th scope="col" class="px-6 py-3">
          More
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class=" border-b hover:bg-gray-50 " *ngFor="let favItem of favProducts">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap :text-white">
          Apple MacBook Pro 17"
        </th>
        <td class="px-6 py-4">
          Silver
        </td>
        <td class="px-6 py-4">
          Laptop
        </td>
        <td class="px-6 py-4">
          $2999
        </td>
      </tr>
    </tbody>
  </table>
</div>