<app-nav-bar></app-nav-bar>
<section class="relative mx-5 rounded-3xl mt-24 border-2 border-dashed border-gray-200">

  <div class="antialiased bg-gray-50 rounded-3xl">
    <main class="p-4  h-auto pt-20">

      <div class="grid grid-cols-3 gap-4 mb-4">
        <!-- animated blured divs -->
        <div
          class="absolute top-[0%] left-0 w-72 h-72 rounded-full bg-red-500 mix-blend-multiply filter blur-3xl animate-blob animation-delay-2000">
        </div>
        <div
          class="absolute top-[25%] right-0 w-72 h-72 rounded-full bg-gray-500 mix-blend-multiply filter blur-3xl animation-delay-4000">
        </div>
        <div
          class="absolute bottom-0 right-12 w-72 h-72 rounded-full bg-pink-500 mix-blend-multiply filter blur-3xl animate-blob animation-delay-4000">
        </div>
        <app-user-card></app-user-card>
        <div class="col-span-3 border-2 border-dashed rounded-3xl border-gray-300  sm:col-span-2">
          <section class="border-2 border-dashed border-gray-200 rounded-3xl my-2 mx-2 p-4 sm:p-5">
            <!-- tab-bar -->
            <div class="inline-flex  bg-gray-100 border-2 border-gray-200 border-dashed rounded-3xl px-2 my-4  mx-auto">
              <ul
                class="flex flex-wrap flex-row-reverse items-center justify-center md:gap-2 text-sm font-medium text-center text-gray-500 ">
                <li class="" *ngFor="let tab of tabs">
                  <a [ngClass]="(selectedTabId === tab.id)?'mx-0.5 inline-block px-8 py-2 my-1 text-black bg-white text-lg  font-semibold rounded-3xl hover:bg-gray-50':'mx-0.5 inline-block px-8 py-2 my-1 text-black text-lg  font-semibold rounded-3xl hover:bg-gray-300'"
                    class="mx-0.5 inline-block px-8 py-2 my-1 text-black text-lg  font-semibold rounded-3xl hover:bg-gray-300 "
                    (click)="selectTab(tab.id)">{{tab.label}}
                  </a>
                </li>
              </ul>
            </div>
            <!-- tab-bar -->
            <!-- Fav Products \ Cart Products -->
            <div class="rounded-3xl" [ngSwitch]="selectedTabId">
              <div class="" *ngSwitchCase="1">
                <app-fav-products *ngSwitchCase="1"></app-fav-products>
              </div>
              <div class="" *ngSwitchCase="2">
                <app-cart-items *ngSwitchCase="2"></app-cart-items>
                </div>
                <div *ngSwitchDefault>default</div>
                </div>
          </section>
        </div>
      </div>
      <!-- Orders -->
      <div class="border-2 border-dashed rounded-3xl border-gray-300 p-4 mb-4">
        <h3 class="text-3xl p-4 text-center"> طلباتي</h3>
        <section class="border-2 border-dashed border-gray-200  overflow-auto rounded-3xl w-full p-4 sm:p-5">
          <div class="relative rounded-3xl border-2 border-dashed border-gray-200 mx-auto h-96 overflow-y-scroll">
            <table class="w-full text-sm text-center text-gray-500 ">
              <thead class=" text-md text-gray-700 uppercase bg-gray-50 ">
                <tr>
                  <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Image</span>
                  </th>
                  <th scope="col" class="px-6 py-3">
                    مسلسل الطلب
                  </th>
                  <th scope="col" class="px-6 py-3">
                    قائمة المنتجات
                  </th>
                  <th scope="col" class="px-6 py-3">
                    الاجمالي
                  </th>
                  <th scope="col" class="px-6 py-3">
                    الحالة
                  </th>
                  <th scope="col" class="px-6 py-3 mx-1">
                    الاجراء
                  </th>
                </tr>
              </thead>
              <tbody class="">
                <ng-container *ngIf="orders.length > 0; else noorders">
                  <tr class="border-b hover:bg-gray-50" *ngFor="let order of orders">
                    <td class="w-20 p-2 flex gap-x-1">
                      <img *ngFor="let product of order.products" [src]="product.product_img" [alt]="product.name">
          
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 :text-white">
                      #{{order.id}}
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 :text-white">
                      <b *ngFor="let product of order.products">
                        {{product.name}},
                      </b>
                    </td>
                    <td class="px-6 py-4">
                      <div>
                        <label
                          class="bg-gray-50  border border-gray-300 text-gray-900 text-sm rounded-3xl focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 ">{{order.totalPrice}}</label>
                      </div>
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 :text-white">
                      {{(order.orderStatus===0 ? 'proccessed' : (order.orderStatus=== 1?'delivered':(order.orderStatus=== 2?
                      'shipped':(order.orderStatus===3? 'canceled': "unkown"))))}}
                    </td>
                    <td class="px-6 py-4">
                      <button type="button" (click)="cancelOrder(order.id)" *ngIf="order.orderStatus === 0"
                        class="text-red-700 px-2 py-1 border hover:border-gray-400  focus:ring-4 focus:outline-none focus:ring-red-300 font-medium hover:bg-gray-200 rounded-3xl text-sm text-center inline-flex items-center">
                        <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                        الغاء
                      </button>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noorders>
                  <tr class="border-b hover:bg-gray-50">
                    <td class="w-20 p-2 flex gap-x-1">
          
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 :text-white">
          
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 text-right">
                    لا توجد طلبات متاحة
                    </td>
                    <td class="px-6 py-4">
                      <div class="flex items-center space-x-3">
                        <div>
          
                        </div>
                      </div>
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 :text-white">
          
                    </td>
                    <td class="px-6 py-4">
          
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </main>
  </div>
</section>