<a class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-green-100 focus:ring-4 focus:ring-green-100 "
  (click)="onClick()">
  اضافة
</a>
<app-modal *ngIf="showModel">
  <div class="flex flex-row-reverse items-start justify-between p-4 border-b rounded-t " modal-header>
    <h3 class="text-xl font-semibold text-gray-900 ">
      اضافة مهمة
    </h3>
    <button type="button"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 mr-auto inline-flex items-center "
     >
    <svg fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true" (click)="onCloseHandled()">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
      <span class="sr-only" (click)="onCloseHandled()">Close modal</span>
      </button>
    </div>
    <div class="p-6 space-y-6 " modal-body>
      <app-task-form [editMode]="editMode" (dismiss)="onCloseHandled()"
        (addNewTask)="addTask($event)"></app-task-form>
          </div>
  </app-modal>