<a class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-green-100 focus:ring-4 focus:ring-green-100 "
  (click)="onClick()">
  اضافة
</a>
<app-modal *ngIf="showModel">
  <div class="flex flex-row-reverse items-start justify-between p-4 border-b rounded-t " modal-header>
    <h3 class="text-xl font-semibold text-gray-900 ">
      اضافة مهمة
    </h3>
    <button type="button"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 mr-auto inline-flex items-center "
     >
    <svg fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true" (click)="onCloseHandled()">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
      <span class="sr-only" (click)="onCloseHandled()">Close modal</span>
      </button>
    </div>
    <div class="p-6 space-y-6 " modal-body>
      <form class="flex flex-col flex-shrink items-stretch justify-center">
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 "> عنوان المهمة</label>
          <input type="text" name="name" id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 "
            placeholder="" required>
        </div>
        <div>
          <label for="description" class="block mb-2 text-sm font-medium text-gray-900 ">
            وصف المهمة</label>
          <input type="text" name="description" id="description" placeholder=""
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 "
            required>
        </div>
        <div>
          <label for="user" class="block mb-2 text-sm font-medium text-gray-900 ">
            المستخدم</label>
          <select name="user" id="user" class="bg-white divide-y divide-gray-100 rounded-lg shadow py-2  w-full">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </div>
          <div>
            <label for="deadline" class="block mb-2 text-sm font-medium text-gray-900 ">
              تاريخ الانتهاء</label>
            <input type="date" name="deadline" id="deadline" placeholder=""
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 "
              required>
          </div>
        <div class=" flex items-center justify-center flex-shrink-0 mt-5">
          <button
            class="w-1/2 m-4 text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">الغاء</button>
          <button type="submit"
              class="w-1/2 m-4 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">حفظ</button>
            </div>
          </form>
          </div>
  </app-modal>