<app-nav-bar></app-nav-bar>
<section class="mx-5 rounded-3xl mt-24 border-2 border-dashed border-gray-200">
  <div class="antialiased bg-gray-50 :bg-gray-900 rounded-3xl">
    <main class="p-4  h-auto pt-20">

      <div class="grid grid-cols-3 gap-4 mb-4">
          <!-- animated blured divs -->
          <div
            class="absolute top-[50%]  right-[5%] w-72 h-72 rounded-full bg-gray-400 mix-blend-multiply filter blur-3xl animate-blob animation-delay-2000">
          </div>
          <div
            class="absolute top-[25%] right-[2%] w-72 h-72 rounded-full bg-red-400 mix-blend-multiply filter blur-3xl animation-delay-4000">
          </div>
          <div
            class="absolute bottom-[0%] right-[14%] w-72 h-72 rounded-full bg-pink-500 mix-blend-multiply filter blur-3xl animate-blob animation-delay-4000">
          </div>
          <app-user-card class="col-span-full md:col-span-1"></app-user-card>
        <div class="col-span-3 border-2 border-dashed rounded-3xl border-gray-300  sm:col-span-2">
         <app-user-form></app-user-form>
        </div>
      </div>
      <div class="border-2 border-dashed rounded-3xl border-gray-300 :border-gray-600 h-96 mb-4">
        <h3 class="text-center">App settings</h3>
      </div>
      </main>
      </div>
</section>