<app-nav-bar></app-nav-bar>
<section class="mx-5 rounded-3xl mt-24 border-2 border-dashed border-gray-200">
  <div class="antialiased bg-gray-50 rounded-3xl">
    <main class="p-4  h-auto pt-20 relative">
      <!-- animated blured divs -->
      <div
        class="absolute top-[1%]  left-[5%] w-40 h-40 rounded-full bg-[#252A34] mix-blend-multiply filter blur-3xl animate-blob animation-delay-2000">
      </div>
      <div
        class="absolute top-[15%] left-[1%]  w-40 h-40 rounded-full bg-[#08D9D6] mix-blend-multiply filter blur-3xl animation-delay-4000">
      </div>
      <div
        class="absolute top-[25%] left-[7%] w-40 h-40 rounded-full bg-[#FF2E63] mix-blend-multiply filter blur-3xl animate-blob animation-delay-4000">
      </div>
      <div
        class="absolute top-[35%] left-[4%]  w-40 h-40 rounded-full bg-[#EAEAEA] mix-blend-multiply filter blur-3xl animate-blob animation-delay-4000">
      </div>
      <!-- animated blured divs -->
      <div class="grid grid-cols-3 gap-4 mb-4">
        <app-user-card class="col-span-full md:col-span-1"></app-user-card>
        <div class="col-span-3 min-h-full rounded-3xl border-gray-300  sm:col-span-2">

          <!-- Cart Items -->
          <app-cart-items></app-cart-items>
          <!-- Cart Items -->
        </div>
      </div>
      <!-- Payement Datails Component -->
      <!-- Stepper Component -->
    <app-stepper>
      </app-stepper>
      <!-- Stepper Component -->
      <!-- Payement Datails Component -->
    </main>
    </div>
    </section>
