<!-- breadcrumb and header -->
<div class="m-5 ">
    <app-breadcrumb [supProgramName]="'البريد'" [childSubProgramName]="'الوارد'"></app-breadcrumb>
    <h3 class="font-bold mt-2 mr-1">الفلترة والبحث</h3>
</div>
<!-- breadcrumb and header -->

<!-- search-bar -->
<div class="search-bar mr-5 ">
<app-tab-bar></app-tab-bar>
<app-search-bar></app-search-bar>
    <div class=" rounded-s text-green-700">
        البحث المتقدم
    </div>
</div>
<!-- search-bar -->

<!-- main-content -->
<div class="main-content">
    <div class="columns-1 mr-5">
        <div class="text-green-700 border-solid border-2 border-gray-200 font-semibold bg-white inline-block w-80 py-5 px-3">
            المعاملات</div>
        <ul>
        <div class=" font-semibold bg-white  w-80 p-1 my-1 overflow-y-scroll">
            <li *ngFor="let treatment of (treatments$|async)">
                    <a class="block max-w-sm p-2 my-1 bg-white border border-gray-200 rounded-s shadow hover:bg-gray-50"
                        [routerLink]="treatment.id" routerLinkActive="active">
                        <div class="flex flex-row-reverse justify-between">
                            <h5 class="mb-2 text-gray-900"> {{treatment.subject}}</h5>
                            <p>{{treatment.date}}</p>
                        </div>
                <p class="font-normal text-gray-400 ">{{treatment.description}}</p>
                <div class="flex flex-wrap pt-2">
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">خطاب#</span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">مذكرة#</span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">عرض#</span>
                </div>
            </a>
            </li>
    </div>
    </ul>
</div>
<!-- main-content -->

<!-- side-content -->
<div class="container">
<router-outlet></router-outlet>
</div>
</div>
<!-- side-content -->