.search-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 20px;

}

.main-content{
    display: flex;
    flex-direction: row-reverse;
}

.active{
    background-color: #f0fdf4;
}
.scroll{
    overflow-x: hidden;
        overflow-y: auto;
}
.treatments{
  height: 36rem;
}